.container{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
h1{
	font-family: fantasy ;
	font-size:2em;
	border-bottom: 2px solid blue;
	border-right: 2px solid darkblue;
	width:400px;
	text-align:center;
	box-shadow: 4px 4px 5px #888888;

}

img{
	width:450px;
	hight:300px;
	margin:10px;
	transition: 1s;
	box-shadow: 4px 4px 5px #888888; 

} 
img:hover{
	
	transform: scale(1.1);
	background-color: black;

}
.container{

}